<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <h2 style="margin: 1rem 0;">Articles</h2>
    <a style="margin-bottom: 1rem;" class="btn btn-success" href="/admin/articles/new">New article</a>
    <table class="table table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
            <tr>
                <th style="font-weight: 400;"><%= article.id %></th>
                <th style="font-weight: 400;"><%= article.title %></th>
                <th style="font-weight: 400;"><%= article.slug %></th>
                <th style="font-weight: 400;"><%= article.category.title %></th>
                <th style="font-weight: 400;">
                    <a class="btn btn-sm btn-warning" href="/admin/articles/edit/<%= article.id %>">Edit</a>
                    <form method="post" style="display: inline;" action="/articles/delete" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </th>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm('Are you sure about that?');
        if(decision) {
            form.submit();
        } else {
            console.log('Action canceled!');
        }
    }
</script>